[files]
input_file = cat.png
output_folder = ./output

[training]
num_epochs = 1000
num_samples = 250
learning_rate = 0.05
render_interval = 25
target_image_height = 512
target_image_width = 512

[density_control]
densify=True
interval = 50
extra_samples = 2000
transparency_threshold = 0.01
kernel_size_threshold = 0.001
kernel_position_gradient_threshold = 0.001
kernel_scaledown_factor = 1.6

[rendering]
gaussian_kernel_radius = 16