[files]
input_file = ./examples/buddy.jpg
output_folder = ./examples/output/buddy

[training]
num_epochs = 2001
num_samples = 1000
learning_rate = 0.055
render_interval = 100
target_image_height = 256
target_image_width = 256

[density_control]
densify=True
interval = 300
extra_samples = 2000 
transparency_threshold = 0.05
kernel_size_threshold = 0.002
kernel_position_gradient_threshold = 0.0002
kernel_scaledown_factor = 1.6

[rendering]
gaussian_kernel_radius = 2