[files]
input_file = ./examples/cat.png
output_folder = ./examples/output/cat

[training]
num_epochs = 799
num_samples = 600
learning_rate = 0.05
render_interval = 50
target_image_height = 300
target_image_width = 300

[density_control]
densify=True
interval = 200
extra_samples = 2000
transparency_threshold = 0.05
kernel_size_threshold = 0.075
kernel_position_gradient_threshold = 0.005
kernel_scaledown_factor = 2.0

[rendering]
gaussian_kernel_radius = 4